.loading-wrap {
    width: 100%;
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .spinner {
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }