ol, ul,dl ,li {
    list-style: none;
    margin:0px;
}

/* 큰틀  */
.detail-component{
    background-color:#f0f0f0;
    padding-bottom: 3rem; 
    min-height: 80rem;
}

.CardDetailTitle{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
    padding-bottom: 10px;
}


.CardDetailTitle>h1 {
    position: relative;
    color: #494747;
    font-size: 30px;
    line-height: 1;
    font-weight: 600;
    padding: 1rem ;
    border-bottom: 1px solid #a5a2a2;
    padding-top: 1.75rem;
 }
 
 .CardDetailWrap{
    display: flex;
    width: 100%;
    padding: 1rem;
    margin:1rem 0 0 0 ;
    height: 100%;
 }

.DetailLeftInfo{
    float: left;
    width: 73%;
    z-index: 2;
    margin-right: 0.8rem;
 
}
.DetailLeftBox{
    padding:2rem;
    background-color:#fff;
    
}

.DetailLeftItem::after{
width: 100%;
line-height: 0.8;
content: '';
display: block;
clear: both;
}
.CardDetailWrap .DetailLeftInfo .DetailLeftBox .Title{
    color: #373737;
    font-weight: bold;
    font-size: 24px;
    padding: 0;
    float: left;
    width: 100%;
    vertical-align: middle;
 }
 .CardDetailWrap .DetailLeftInfo .DetailLeftBox .Title >span{
    display: inline-block;
    vertical-align: middle;
    margin-top: 0.5rem;
    font-size: 1.3rem;
    width: 100%;
 }

 .CardDetailWrap .DetailLeftInfo .DetailLeftBox .SideInfo{
    float: right;
    font-size: 14px;
    color:rgb(170, 170, 169)
}

.CardDetailWrap .DetailLeftInfo .DetailLeftBox .SideInfo >span{
   margin-bottom: -0.5rem;
   
}



.RecMiddleInfo{
    display: flex;
    flex-direction: column;
    position: relative;
    border-top: 2px solid #5d5d5d;
    width: 100%;
    height: auto;
}
.MiddleInfoItemWrap{
    display: flex;

}

.RecMiddleInfo .MiddleInfoItemWrap .MiddleItem{
    width: 25%;
    text-align: center;
    background-color: #fff;
}

.RecMiddleInfo .MiddleInfoItemWrap .MiddleItem:not(:first-child){
border-left: 1px solid rgb(219, 214, 214);
border-collapse: separate ;

}

.RecMiddleInfo .MiddleInfoItemWrap >li{
    height: 10rem;
    padding: 2rem 0 2rem 0;
    border-bottom: 2px solid rgb(155, 154, 154);
}



.RecMiddleInfo .MiddleInfoItemWrap .MiddleItem .MiddleTit{
    display: block;
    text-align: center;
    color: #969696;
    font-size: 0.8rem;
    padding: 0 0 7px;
    font-weight: 500;
}

.RecMiddleInfo .MiddleInfoItemWrap .MiddleItem .MiddleTitSub{
    display: block;
    position: relative;
    color: #373737;
    letter-spacing: -2px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 10px;

}

.RecTechWrap {
    display: flex;
    width: 100%;
    padding: 4rem 0 4rem 0;
    border-bottom: 1px solid #969696;
    background-color: #fff;
    align-items: center;
}
.RecTechSubWrap{
    padding-right: 1.8rem;
    
}
.RecLabel{
    width: 25%;
    float: left;
    padding: 0 1rem 0 1rem;
    font-weight: bold;
    color: #373737;
    font-size: 1rem;
}



.RecTechText {
    display: inline-block;
    margin-bottom: 3px;
    line-height: 1.5rem;
    color: #666464;
    min-width: 3rem;
    font-size: 12px;
    margin: 0.2rem;
    background: #dddee0;
    text-align: center;
    padding: 1px 5px;
    font-weight: bold;
    border-radius: 3px;
}

.RecDetailContent {
    display: flex;
    width: 100%;
    min-height: 30rem;
    padding: 5rem 0 5rem 0;
    background-color: #fff;
}
.RecDeco{
    width: 5px;
    height: 1rem;
    background-color: #373737;
    display: none;
}
.RecDetailDataWrap {
    width: 65%;
    float: left;
    font-size: 13px;
    letter-spacing: 2px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.RecDetailData{

    white-space: pre-wrap; 
    word-wrap: break-all;
    word-break: break-all;
}

.RecDetailData::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.DetailRightInfo{
    float: left;
    border-radius: 10px;
    width: 26%;
    height: 50%;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    margin-left: 1rem;
    
    
}
.DetailRightEdit{
    display: flex;
    justify-content: space-around;
    padding:1em;
}


.DetailInfoUser{
    padding:2rem 1.5rem 1rem 1.5rem;
    display: flex;
    flex-direction: column;
}

.DetailRightInfo .DetailInfoUser .UserTitle{
    color: #373737;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.DetailRightInfo .DetailInfoUser >span{

    color: #373737;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    letter-spacing: 1px;
    letter-spacing: 1px;
    line-height: 22px;
    font-weight: 600;
}
.DetailUserDeleted {
    display: flex;
    color: #adadad;
    font-size: 13px;
    min-height: 4rem;
    justify-content: center;
    align-items: center;
}
.RecProfileButton{
    width: 100%;
    margin: 0.5rem;
    padding: 1rem;
    font-size: 15px;
    border: solid 1.5px #3ba3c7;
    border-radius: 5px;
    color: #272727;
    font-weight: 550;
    background-color: #fff;
}
.RecProfileCheck{
    display: flex;
    justify-content: center;
    font-size: 11.5px;
    line-height: 2;
    color: #5e5e5e;
    

}

/* 반응형 */
@media screen and (max-width: 789px){

    .CardDetailWrap{
        padding: 0;
        flex-direction: column-reverse;
    }
    .DetailLeftInfo{
        width: 100%;
    }
    .DetailRightInfo{
        width: 100%;
        border-radius: 0px;
        margin: 1rem 0 1rem 0;
    }
    .DetailLeftBox{
        padding:1rem;
        background-color:#fff;
        
    }
   .MiddleInfoItemWrap{
       display: inline-flex;
       flex-flow: column wrap;
       flex-direction: row;
       }
   .RecMiddleInfo .MiddleInfoItemWrap .MiddleItem{
       width: 50%;
   }

   .CardDetailWrap .DetailLeftInfo .DetailLeftBox .Title >span{
       font-size: 1.0rem;
       text-align: center;
       margin:1em 0 1rem 0;
   }
   .CardDetailWrap .DetailLeftInfo .DetailLeftBox .SideInfo{
       float: none;
       text-align: center;
   }
   .CardDetailWrap .DetailLeftInfo .DetailLeftBox .SideInfo >span{
    font-size: 1.0rem;
    margin:1rem;
}

    .RecTechWrap{
        flex-direction: column;
        padding: 0.5rem 0 1.5rem 0;
    }
    .RecLabel{
        width: 100%;
        padding: 1rem;
        font-size: 0.9rem;
      
    }
    .RecDetailContent{
        flex-direction: column;
        padding: 0.8rem 0 5rem 0;
    }
    .RecTechSubWrap{
        padding: 1rem;
        width: 100%;

    }
    .RecDeco{
        display:flex;
        flex-direction: row;
        float: left;
        margin-right:0.5rem;
    }
    .RecDetailDataWrap{
        width: 100%;
        padding:1rem;
    }
  
}

