#footer {
    padding: 4em 0 2em 0;
    background: rgb(70, 69, 69);
    text-align: center;
    color: #fff;
    font-weight: bold;
  }
    .logo>img{
      width: 150px;
      margin-bottom: 1rem;
    }
    #footer h2 {
      font-size: 25px;
      color: #fff;
      margin-bottom: 18px;
      
    }
  
    #footer .icon {
      color: #f6755e;
    }
  
    #footer a {
      color: #fff;
      text-decoration: none;
    }
  
    #footer ul li {
      padding: 0 2em;
    }
  
    #footer .copyright {
      display: inline-block;
      color: #fff;
      font-size: 0.75em;
      margin: 0 0 2em 0;
      padding: 0;
      text-align: center;
      border-top: 1px solid rgba(255, 255, 255, 0.25);
      padding: 2em 10em;
  
    }
  
    @media screen and (max-width: 980px) {
  
      #footer {
        padding: 3em 0 1em 0;
      }
  
        #footer ul li {
          display: block;
          padding: .25em 0;
        }
  
    }
  
    @media screen and (max-width: 736px) {
  
      #footer .copyright {
        padding: 2em 5em;
      }
  
    }
  
    @media screen and (max-width: 480px) {
  
      #footer {
        padding: 2em 0 0.1em 0;
      }
      .logo{
        text-align: center;
      }
  
        #footer ul li {
            font-size: .75em;
        }
  
          #footer ul li .icon:before {
            margin-left: -1em;
          }
  
        #footer .copyright {
            padding: 1em 0;
        }
  
    }
  
    ul {
          list-style: disc;
          margin: 0 0 2em 0;
          padding-left: 1em;
      }
  
          ul li {
              padding-left: 0.5em;
          }
  
          ul.alt {
              list-style: none;
              padding-left: 0;
          }
  
              ul.alt li {
                  border-top: solid 1px #dee1e3;
                  padding: 0.5em 0;
              }
  
                  ul.alt li:first-child {
                      border-top: 0;
                      padding-top: 0;
                  }
  
          ul.icons {
              cursor: default;
              list-style: none;
              padding-left: 0;
          }
  
              ul.icons li {
                  display: inline-block;
                  padding: 0 1em 0 0;
              }
  
                  ul.icons li:last-child {
                      padding-right: 0;
                  }
  
                  ul.icons li .icon:before {
                      font-size: 2em;
                  }
  
          ul.actions {
              cursor: default;
              list-style: none;
              padding-left: 0;
          }
  
              ul.actions li {
                  display: inline-block;
                  padding: 0 1em 0 0;
                  vertical-align: middle;
              }
  
                  ul.actions li:last-child {
                      padding-right: 0;
                  }
  
              ul.actions.small li {
                  padding: 0 0.5em 0 0;
              }
  
              ul.actions.vertical li {
                  display: block;
                  padding: 1em 0 0 0;
              }
  
                  ul.actions.vertical li:first-child {
                      padding-top: 0;
                  }
  
                  ul.actions.vertical li > * {
                      margin-bottom: 0;
                  }
  
              ul.actions.vertical.small li {
                  padding: 0.5em 0 0 0;
              }
  
                  ul.actions.vertical.small li:first-child {
                      padding-top: 0;
                  }
  
              ul.actions.fit {
                  display: table;
                  margin-left: -1em;
                  padding: 0;
                  table-layout: fixed;
                  width: calc(100% + 1em);
              }
  
                  ul.actions.fit li {
                      display: table-cell;
                      padding: 0 0 0 1em;
                  }
  
                      ul.actions.fit li > * {
                          margin-bottom: 0;
                      }
  
                  ul.actions.fit.small {
                      margin-left: -0.5em;
                      width: calc(100% + 0.5em);
                  }
  
                      ul.actions.fit.small li {
                          padding: 0 0 0 0.5em;
                      }
  
              @media screen and (max-width: 480px) {
  
                  ul.actions {
                      margin: 0 0 2em 0;
                  }
  
                      ul.actions li {
                          padding: 1em 0 0 0;
                          display: block;
                          text-align: center;
                          width: 100%;
                      }
  
                          ul.actions li:first-child {
                              padding-top: 0;
                          }
  
                          ul.actions li > * {
                              width: 100%;
                              margin: 0 !important;
                          }
  
                              ul.actions li > *.icon:before {
                                  margin-left: -2em;
                              }
  
                      ul.actions.small li {
                          padding: 0.5em 0 0 0;
                      }
  
                          ul.actions.small li:first-child {
                              padding-top: 0;
                          }
  
              }
  
  