.site-main {
    margin-top: 1rem;
    background-image: url("../../assets/img/main.png");
    background-position: center 10%;
    min-height: 49rem;
    background-size: cover;
    padding-top:10rem;
}

  .container {
    max-width: 1060px;
}

 .index-main-txt {
    padding-top: 43px;
    padding-left: 0px;
}
 .index-main-txt h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.35;
    color: #333;
    margin-bottom: 15px;
}
.index-button-area {
    height: 58px;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

 .index-main-txt p {
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #6d7278;
    margin-bottom: 36px;
    word-break: keep-all;
}
.index-button{
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50%;
    height: 54px;
    border: 0;
    border-radius: 27px;
    background-color: #3366ff;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
  }
  


@media screen and (max-width: 767px){

    .site-main {
        margin-top: 0px;
        background-image: url("../../assets/img/main.png");
        background-position: top center;
        background-size: cover;
       
    }

   .container {
        padding-left: 5px;
        padding-right: 5px;
    }

     .index-main-txt {
     
        padding-top: 10px;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
    }
    .index-main-txt h2 {
        color: rgb(0, 0, 0);
        font-size: 28px;
    }
    .index-main-txt p {
        color: rgb(250, 252, 255);
        font-size: 15px;
        margin-bottom: 80px;
    }
    .index-button-area {
        text-align: center;
    }
    .index-button{
        min-width: 100%;
      }
}